<!-- /templates/index.liquid -->
{% comment %}
  Define your section markup, using `section.settings.[setting_name]` to access specific settings.
  * Sections do not have access to global liquid variables.
{% endcomment %}

{% assign slider_enabled = true %}
<section class="hero-wrapper">
  <div class="hero__site-header">
    <div class="grid grid--no-gutter grid--table site-header__inner">
      <div class="grid__item one-third">
        <button type="button" class="site-header__link text-link site-header__toggle-nav js-drawer-open-left">
          <span class="burger" aria-hidden="true">
            <span class="burger__line burger__line--top"></span>
            <span class="burger__line burger__line--middle"></span>
            <span class="burger__line burger__line--bottom"></span>
          </span>
          <span class="icon__fallback-text">{{ 'layout.navigation.menu' | t }}</span>
        </button>
      </div>
      <div class="grid__item two-thirds hero__hometitle">
        <h1 class="site-header__logo site-header__hometitle" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</h1>
      </div>
      <div class="grid__item one-third text-right">
        <a href="/cart" class="site-header__link site-header__cart cart-link{% if settings.cart_type == 'drawer' %} js-drawer-open-right{% endif %}{% if cart.item_count > 0 %} cart-bubble--visible{% endif %}">
          <span class="icon icon-cart" aria-hidden="true"></span>
          <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
          <span class="cart-qty">(<span>{{ cart.item_count }}</span>)</span>
        </a>
      </div>
    </div>
  </div>

  {% section 'slideshow' %}

  {% section 'scroll-text' %}

  <div class="hero__header">
   <div class="action-area">
     {% include 'action-bar' %}
   </div>
 </div>
</section>
<section>
  {{ content_for_index }}
</section>
<section class="instafeed">
  {% section 'instafeed' %}
</section>
{% section 'newsletter-signup' %}